@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<span style="text-align: center; font-size: xx-large; font-weight: bold; margin-right: 380px; ">@DataMapping.Resources.Resource.DiteToDoor</span>
@section ModelPopup{}

@section JavaScriptSection{}